---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/layout/Layout.astro";
import Avatar from "@/components/Avatar.astro";
import Separator from "@/components/Separator.astro";

interface Props {
  readonly post: CollectionEntry<"blog">;
}

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog");

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();

const siteURL = Astro.site || 'http://localhost:4321';
const ogImageUrl = `${siteURL}/og/${post.slug}.png`;
---

<Layout
  title={post.data.title + " by Sergio Majé"}
  description={post.data.excerpt}
  ogImageURL={ogImageUrl}
>
  <article class="mx-auto max-w-[650px]">
    <header>
      <Image
        src={post.data.cover}
        alt={post.data.title}
        class="w-full max-h-[300px] object-cover object-center !m-0 aspect-video block"
        width={650}
        height={300}
      />
      <h1 class="leading-tight my-3">{post.data.title}</h1>
      <p class="text-secondary-foreground">{post.data.excerpt}</p>
      <div class="flex gap-4 mt-6">
        <Avatar
          src="/images/profile-pic.png"
          alt="Profile picture of Sergio Majé @smaje99"
        />
        <small class="flex flex-col justify-center gap-1 text-foreground/75">
          Sergio Majé
          <time datetime={post.data.date.toISOString()}>
            {
              post.data.date.toLocaleDateString("es-CO", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
        </small>
      </div>
      <Separator />
    </header>
    <main
      class:list={[
        "prose",
        "prose-headings:text-foreground",
        "prose-code:text-secondary-foreground",
        "prose-code:rounded-lg",
        "prose-code:px-1",
        "prose-strong:text-foreground",
        "prose-p:text-wrap",
        "prose-li:marker:text-accent",
        "prose-li:marker:font-medium",
        "text-foreground",
        "pt-12 pb-48"
      ]}
    >
      <Content />
    </main>
  </article>
</Layout>
