---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { buttonVariants } from "./ui/button";
import { cn } from "@/lib/utils";

interface Props {
  readonly post: CollectionEntry<"blog">;
}

const {
  post: {
    slug,
    data: { title, excerpt, cover, date },
  },
} = Astro.props;
---

<li class="w-fit flex flex-col gap-3 p-3 bg-secondary/60 rounded-lg shadow-lg">
  <Image
    src={cover}
    alt={title}
    class="w-64 h-40 object-cover aspect-video shadow-lg rounded-lg"
    width={260}
    height={160}
  />
  <h3 class="title">{title}</h3>
  <p class="excerpt">{excerpt}</p>
  <time datetime={date.toISOString()}>
    <small class="text-foreground/75">
      {
        date.toLocaleDateString("es-CO", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </small>
  </time>

  <a href={`/blog/${slug}`} class={cn(buttonVariants({}), "w-max")}>
    Leer más
  </a>
</li>

<style>
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @apply text-lg;
  }

  .excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @apply text-sm;
  }
</style>
